In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import glob
from pathlib import Path
from collections import namedtuple
from scipy import stats

#Prevents pandas from truncating data
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

%matplotlib inline

In [21]:
#hard coding file pathways for first 2 tests (both VAN and TAN) for baseline and optivisor to variables
base1VAN = pd.read_csv('Documents/Research/Arjun final test data/Arjun Y lenses baseline 1_baseline_2021-03-13_21-04-01_VAN-Sitting_VER2.txt', skiprows=3, delim_whitespace=True,skipinitialspace=True)
base1TAN = pd.read_csv('Documents/Research/Arjun final test data/Arjun Y lenses baseline 1_baseline_2021-03-13_21-04-59_TAN-Sitting_VER2.txt', skiprows=3, delim_whitespace=True,skipinitialspace=True)
base2VAN = pd.read_csv('Documents/Research/Arjun final test data/Arjun Y lenses baseline 2_baseline_2021-03-13_21-06-52_VAN-Sitting_VER2.txt', skiprows=3, delim_whitespace=True,skipinitialspace=True)
base2TAN = pd.read_csv('Documents/Research/Arjun final test data/Arjun Y lenses baseline 2_baseline_2021-03-13_21-07-42_TAN-Sitting_VER2.txt', skiprows=3, delim_whitespace=True,skipinitialspace=True)

opti1VAN = pd.read_csv('Documents/Research/Arjun final test data/Arjun Y lenses optivisor 1_baseline_2021-03-13_21-35-01_VAN-Sitting_VER2.txt', skiprows=3, delim_whitespace=True,skipinitialspace=True)
opti1TAN = pd.read_csv('Documents/Research/Arjun final test data/Arjun Y lenses optivisor 1_baseline_2021-03-13_21-35-54_TAN-Sitting_VER2.txt', skiprows=3, delim_whitespace=True,skipinitialspace=True)
opti2VAN = pd.read_csv('Documents/Research/Arjun final test data/Arjun Y lenses optivisor 2_baseline_2021-03-13_21-36-58_VAN-Sitting_VER2.txt', skiprows=3, delim_whitespace=True,skipinitialspace=True)
opti2TAN = pd.read_csv('Documents/Research/Arjun final test data/Arjun Y lenses optivisor 2_baseline_2021-03-13_21-37-48_TAN-Sitting_VER2.txt', skiprows=3, delim_whitespace=True,skipinitialspace=True)

In [69]:
#Defines the participant names, and arrays (?) for the final stats (RMS = root mean square)
names = ["Arjun"]
tests = ["baseline", "optivisor"]

#creating a library of all the values I need for the table so I don't have to print stuff individually

baseStats = {'YEnd Means': [base1VAN['YEnd'].mean(), base2VAN['YEnd'].mean()],
             'AngEnd Means': [base1TAN['AngEnd'].mean(), base2TAN['AngEnd'].mean()], 
             'YEnd SD': [base1VAN['YEnd'].mean(), base2VAN['YEnd'].mean()],
             'AngEnd SD': [base1TAN['AngEnd'].mean(), base2TAN['AngEnd'].mean()],
             'YEnd RMS': 0, 'AngEnd RMS': 0, 
             'YEnd Final SD': 0, 'AngEnd Final SD': 0}
optiStats = {'YEnd Means': [opti1VAN['YEnd'].mean(), opti2VAN['YEnd'].mean()], 
             'AngEnd Means': [opti1TAN['AngEnd'].mean(), opti2TAN['AngEnd'].mean()],
             'YEnd SD': [opti1VAN['YEnd'].std(), opti2VAN['YEnd'].std()],
             'AngEnd SD': [opti1TAN['AngEnd'].std(), opti2TAN['AngEnd'].std()],
             'YEnd RMS': 0, 'AngEnd RMS': 0, 
             'YEnd Final SD': 0, 'AngEnd Final SD': 0}

#Finding root means square values for YEnd and AngEnd for both baseline and optivisor
baseStats['YEnd RMS'] = np.sqrt(base1VAN['YEnd'].pow(2).mean() + base2VAN['YEnd'].pow(2).mean())
baseStats['AngEnd RMS'] = np.sqrt(base1TAN['AngEnd'].pow(2).mean() + base2TAN['AngEnd'].pow(2).mean())

optiStats['YEnd RMS'] = np.sqrt(opti1VAN['YEnd'].pow(2).mean() + opti2VAN['YEnd'].pow(2).mean())
optiStats['AngEnd RMS'] = np.sqrt(opti1TAN['AngEnd'].pow(2).mean() + opti2TAN['AngEnd'].pow(2).mean())

#Finding the final standard deviation based on the means of each trial
baseStats['YEnd Final SD'] = np.std(baseStats['YEnd Means'])
baseStats['AngEnd Final SD'] = np.std(baseStats['AngEnd Means'])

optiStats['YEnd Final SD'] = np.std(optiStats['YEnd Means'])
optiStats['AngEnd Final SD'] = np.std(optiStats['AngEnd Means'])

#defining the dataframes to later print as tables
data1 = pd.DataFrame(data = baseStats)
data2 = pd.DataFrame(data = optiStats)

## Variable Descriptions
YEnd Means: Mean YEnd value for each trial (using VAN tests)
<br>AngEnd Means: Mean AngEnd value for each trial (using TAN tests)
<br>YEnd SD: Standard deviation of YEnd for each trial (using VAN tests)
<br>AngEnd SD: Standard deviation of AngEnd for each trial (using TAN tests)
<br>YEnd RMS: Gives the root mean squared of YEnd for all trials (using VAN tests)
<br>AngEnd RMS: Gives the root mean squared of AngEnd for all trials (using TAN tests)
<br>YEnd Final SD: Gives the standard deviation of the YEnd means for all trials (using VAN tests)
<br>AngEnd Final SD: Give the standard deviation of the AngEnd means for all trials (using TAN tests)

In [68]:
print(names[0])
print(tests[0])
data1

Arjun
baseline

,YEnd Means,AngEnd Means,YEnd SD,AngEnd SD,YEnd RMS,AngEnd RMS,YEnd Final SD,AngEnd Final SD
0,1.8,0.14,1.8,0.14,3.534119,0.664078,0.3,0.185
1,2.4,0.51,2.4,0.51,3.534119,0.664078,0.3,0.185

In [64]:
print(names[0])
print(tests[1])
data2

Arjun
optivisor

,YEnd Means,AngEnd Means,YEnd SD,AngEnd SD,YEnd RMS,AngEnd RMS,YEnd Final SD,AngEnd Final SD
0,1.09,0.58,1.173267,0.370585,4.702552,1.206234,1.41,0.155
1,3.91,0.89,2.210807,0.474810,4.702552,1.206234,1.41,0.155